<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="site11ConnectionString" connectionString="Data Source=62.219.78.210;Initial Catalog=site11;Persist Security Info=True;User ID=site11;Password=zxc11"
            providerName="System.Data.SqlClient" />
        <add name="site11ConnectionString2" connectionString="Data Source=62.219.78.210;Initial Catalog=site11;Persist Security Info=True;User ID=site11;Password=zxc11"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
